<!DOCTYPE html>
<html>
<head>
  <title>StoreWebsite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<%= flash[:error] %>
<%= flash[:notice] %>

<div class="container">
<h1><i>Cap'n Jay's Crazy Corner Grocery</i></h1>
<i>122 N. Killingsworth * Portland, Oregon</i>
<br>
<br>
<%= yield %>
</div>




</body>
</html>
